@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.bookMarkMain {
  position: relative;
  width: 360px;
  height: 660px;
  overflow: hidden;
  // overflow: hidden;
  background-color: #f9d1b7;
  background-image: linear-gradient(315deg, #f9d1b7 0%, #f894a4 74%);
  border-radius: 60px 60px 0 0;

  .bookMarkWrapper {
    position: relative;
    height: 660px;
    padding: 80px 40px 20px;
  }

  h1 {
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 600;
    color: colors.$WHITE;
    word-break: keep-all;
    border-bottom: 1px solid colors.$WHITE;
  }

  ul {
    height: 500px;
    overflow: auto;
  }

  .movieItemWrapper {
    position: relative;
    border-radius: 16px;

    + .movieItemWrapper {
      margin-top: 18px;
    }

    .bookMarkPopup {
      position: absolute;
      left: center;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 150px;
      color: colors.$WHITE;
      background-color: rgb(51, 50, 67, 75%);
      border-radius: 16px;

      button {
        padding: 10px 20px;
        margin: 20px;
        font-weight: 600;
        color: rgb(100, 54, 135);
        background-color: colors.$WHITE;
        border: none;
        border-radius: 8px;
      }

      .addBookmark {
        background-color: rgb(248, 206, 236);
      }
    }
  }

  .movieItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 150px;
    padding: 15px;
    cursor: pointer;
    background-color: rgba(colors.$WHITE, 40%);
    border-radius: 16px;
    box-shadow: 0 10px 20px 0 rgba(colors.$BLACK, 2%);

    img {
      width: 85px;
      height: 125px;
      margin: 0 10px 0 0;
      border-radius: 5px;
    }

    .movieInfo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 125px;
      padding: 10px 0;

      h2 {
        font-size: 18px;
        color: rgb(100, 54, 135);
      }

      p {
        color: rgb(51, 50, 67);
      }

      button {
        width: 100px;
      }
    }
  }

  .marker {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
