@use '/src/styles/constants/colors';

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(45deg, #eeeeee, #faf8f9, #ffffff);
}
